body {
    background-image: url(../img/Login/Background.png);
}

/* Container principal */

.conteiner-pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 310px;
    position: relative;
    border-radius: 10px;
}

.bloco-azul {
    width: 350px;
    height: 100px;
    background-color: rgb(130, 182, 245);
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Container secundario */

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 112, 240);
    width: 350px;
    height: 600px;
    margin: 0;
    border-radius: 10px;
}

/* Perfil */

.imagem{
    margin-bottom: 20px;
    width: 80px;
}

/* Caixa de texto */

.button{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
}

.button input{
    height: 30px;
    background-color: rgb(130, 182, 245);
    border: 1px solid black;
    border-radius: 10px;
}

.button li{
    margin-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    list-style: none;
    font-size: medium;
    font-weight: 700;
}

/* Links */

.links{
    margin-top: 20px;
    display: flex;
    list-style: none;
}

.links li{
    font-family: "Ubuntu", sans-serif;
}

.criar{
    margin-left: 155px;
}

.criar a{
    color: black;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: x-small;
    font-weight: 100;
}

/* Botao login */

.Login{
    padding: 10px 80px 10px 80px;
    background-color: rgb(130, 182, 245);
    border-radius: 10px;
    margin-top: 50px;
}

.Login a{
    color: black;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: x-large;
}

.Login a:hover{
    color: black;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: x-large;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');